@(races: List[Race])
<script>
    function deleteRace(id) {
    $.ajax({type: "DELETE",
    url: "@routes.RaceController.delete(10)",
    data: {id:id}});
    }
</script>

    @import helper._

    @main {
        @for(race <- races) {
            <dt>
                <a href="@routes.RaceController.details(race.id)">
                    <i class="fa fa-edit"></i>
                    @race.name
                </a> </dt>
            <dd>@race.name</dd>


            @helper.form(action = routes.RaceController.delete(race.id)) {
                <input type="submit" class="fa fa-trash-o">
            }
        }
    }