@(races: List[Race])
<script>
    function deleteRace(id) {
        jsRoutes.controllers.RaceController.delete(id).ajax({
        success: function(data) {
            alert(data);
        }});
    }
</script>

    @import helper._

    @main {
        @for(race <- races) {
            <dt>
                <a href="@routes.RaceController.details(race.id)">
                    <i class="fa fa-edit"></i>
                    @race.name
                </a> </dt>
            <dd>@race.name</dd>

           <a onclick='deleteRace(@race.id);'><i class="fa fa-trash-o"></i></a>
        }
    }